html, body {
    height: 100%;
}

table {
    margin-top: 10px;
}

td, th {
    padding: 5px;
}

table, th, td {
    border: 1px solid black;
}

#item_search {
    margin: 10px;
}

#header {
    background-color: #e7ecee;
    color: #F68124;
}

#content {
    height: calc(100% - 80px);
}

.logo-container {
    margin-right: 20px;
}

.logo {
    width: 170px;
}

.company-name-container {
    float: left;
    align-items: center;
}

.gear-container {
    width: 44px;
    height: 44px;
    float: left;
    background-image: url("../../static/resources/gear.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.gear-container:hover {
    background-image: url("../../static/resources/gear-orange.png");
    cursor: pointer;
}