html, body {
    height: 100%;
    margin: 0;
  }

.my-header {
    background-color: #000000;
    color: #ffffff;
}

.custom-app-button {
    background-color: #F68124;
    border-color: #F68124;
}

.logo {
    max-width: 153px;
}

i.bi.bi-gear-fill {
    font-size: 2.5rem;
    color: black;
}

i.bi.bi-gear-fill:hover {
    color: #F68124;
    cursor: pointer;
}

li > h3, li > a > h3 {
    margin-bottom: 0;
}

.form-check-input:checked {
    background-color: #F68124;
    border-color: #F68124;
}
